img{
	height: 85%;
	/*max-width: 100%;*/
	border-radius: 7%;
}
body{
	background-image: url('../images/body-bg.jpg');
	background-position: 50% 0%; 
	background-size: cover;
	background-repeat: no-repeat;
}
.pers500{
	perspective: 500px;
	perspective-origin: 50% 0%;
}

.the-table{
	/*background-color: #277714;*/
	/*background: linear-gradient(#277714, #1eba67);*/
	background-image: url('../images/background.jpg');
	border: 5px solid #4c3f17;
	padding: 30px 0px;
	margin-top: 30px;
	border-radius: 10px;
	transform:rotateX(15deg);
	margin-bottom: 400px;
	border-radius: 10% 10% 10% 10%;
	height: 700px;

}

.bigger-text{
	font-size: 150%;
}



.card{
	height: 200px;
	margin: 10px;
	width: 12.6%;
	float: left;

}

.cardback{
	height: 200px;
	margin: 10px;
	width: 12.6%;
	float: left;
	margin-top: -440px;

}

.dealer-total{
	color: white;
}

.player-total{
	color: white;
}

.message{
	color: white;
	text-align: right;
	margin-top: -285px;
	margin-left: 85px;
	font-size: 150%;
}

.btn{
	border: 1px solid black;
}

.second-buttons{
	margin-top: 30px;
}

.betting{
	margin-top: 10px;
	color: white;
}

.dcard{
	transform: rotateZ(180deg);

}

.player-bank-text{
	color: white;
	font-size: 150%;
	margin-left: 30px;
	margin-top: -110px;
}

.dealer-bank-text{
	color: white;
	font-size: 150%;
	margin-left: 20px;
	margin-top: -40px;
}







